@charset "utf-8";
p	{
	margin-bottom:14px;
}
a {
	color:#0d469f;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
	outline: none;
	border:none;
	text-decoration:none;

	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
}
a:focus, a:hover, a:active {
	outline: none;

	color: #0a95ec;
	text-decoration:none;
}
a, ins {
    text-decoration: none;
}
a, hr {
    padding: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
h1, h2, h3, h4, h5 {
	margin:0;
	padding:0;
	line-height:normal;
	font-weight:normal;
	font-size:100%;
}
::selection {
 background: rgba(0, 0, 0, .2); 
}
::-moz-selection {
 background: rgba(0, 0, 0, .2); 
}


*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}
.row:after {
	clear: both;
}
.browserupgrade					{ border: 1px solid #282828; text-align:center; padding:10px; margin:0 0 10px; background-color:#d7d7d7; color:#cd1f5a; }
.clear 							{ clear: both; display: block; }
.spacer							{ clear:both; display:block; line-height:0; font-size:0; height:10px; }
.left							{ float:left; position:relative; }
.right							{ float:right; position:relative; }
.center							{ text-align:center !important; }
.offerflow						{ overflow:hidden !important; }
.clearfix:after 				{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
:first-child + html .clearfix 	{ min-height:1%; }
svg:not(:root) 					{ overflow: hidden; }
.clearfix:before, .clearfix:after{ content:""; display:table; }
.clearfix:after 				{ clear: both; }
.clearfix 						{ clear: both; display:block; overflow:hidden; padding:0; margin:0; border:none; outline:none; }
.padd-nne						{ padding:0 !important; }
.margn-nne						{ margin:0 !important; }
.width-auto						{ width:auto !important; }
.relative 						{ position:relative; }
.opacity {

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

	filter: alpha(opacity=80);
	
	-moz-opacity: 0.8;

	-khtml-opacity: 0.8;
	
	opacity: 0.8;
}


body 							{ font-family: 'Source Sans Pro', sans-serif; font-weight: 400; color: #4c4f4e; font-size: 16px; line-height:24px; background: #FFF; }
#wrapper 						{ position: relative; }
#wrapper:before, #wrapper:after { display: table; line-height: 0; content: ""; }
#wrapper:after 					{ clear: both; }
.container 						{ width: 96%; max-width: 1400px; margin: 0 auto; padding-left: 15px; padding-right: 15px;}
.banner:before, .brochures:before, .clearfix:before, .features .container:before, .meetTeam .teamList:before, .header .container:before, .header .headerRight:before, .pageMenu .container:before, .products ul.listProduct:before, .socialMedia .socialMediaList:before, .testimonial .testimonialsWrap:before, footer.pageFooter .footerTop .container .feedList li:before, footer.pageFooter .footerTop .container:before {
    display: table;
    content: ""}
.banner:after, .brochures:after, .clearfix:after, .features .container:after, .meetTeam .teamList:after, .pageHeader .container:after, .pageHeader .headerRight:after, .pageMenu .container:after, .products ul.listProduct:after, .socialMedia .socialMediaList:after, .testimonial .testimonialsWrap:after, footer.pageFooter .footerTop .container .feedList li:after, footer.pageFooter .footerTop .container:after {
    display: table;
    content: "";
    clear: both;
}
.row 							{ margin-left: -15px; margin-right: -15px; }

div:after, div:before, ul:before, ul:after{
	content: "";
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;
}

a:hover,
a:focus {
	text-decoration: none;
}



.wrapper {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: block;
	border: none;
	outline: none;
}




 .marquee {
            height: 50px;
            overflow: hidden;
            position: relative;
            background: #fefefe;
            color: DarkGreen;
            font-weight: bold;
            white-space: nowrap;
           
        }
        
        .marquee p {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 50px;
            text-align: center;
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            -moz-animation: scroll-left 2s linear infinite;
            -webkit-animation: scroll-left 2s linear infinite;
            animation: scroll-left 20s linear infinite;
        }
        
        @-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }
        
        @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        
        @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }
		

.-wrap{

padding: 10px 5px 0;
}

.list-block-wrap{
	margin-bottom: 20px;
}
.list-block-wrap h1{
	color : red;
}

.list-block,
.list-block-anim {
	    width: 19%;
	  
    text-align:center;
	
	float: left;
	padding: 0;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	transition: all ease-in-out 30ms;
	-webkit-transition: all ease-in-out 30ms;
	-ms-transition: all ease-in-out 30ms;
	-moz-transition: all ease-in-out 30ms;
	-o-transition: all ease-in-out 30ms;
	cursor:pointer;
	background-color: Chartreuse;
	border-radius: 1px;

}

.list-block a,
.list-block-anim a {
	outline:1px dotted transparent;
	min-height:150px;
	display: block;
	
	width:100%;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
}
.list-block a:focus,
.list-block-anim a:focus {
	display:block;
	
	outline:1px dotted;
}
.list-block a img,
.list-block-anim a img {
	width: 52px;
	float:none;
	height:auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0;
}
.list-block:nth-of-type(5n),
.list-block-anim:nth-of-type(5n) {
	margin-right: 0;
}
.list-block .inr-blk,
.list-block-anim .inr-blk {
	font-weight: 400;
	font-size: 110%;
	line-height: 250%;
	padding: 30px 12px 20px 10px;
	color: #474444;
	min-height: 190px;

	margin-bottom: 0;
}
.list-block strong,
.list-block-anim strong {
	font-weight: 600;
	font-size: 110%;
	line-height: 100%;
	color: #474444;
	display:block;
	margin:0 0 4%;
}
.list-block p,
.list-block-anim p {
	font-weight: 400;
	font-size: 95%;
	line-height: 100%;
	color: #474444;
	padding:0;
	margin:0;
}


div.list-block a:hover,
div.list-block a:focus {
	background: #b1c2e8;
	border-color: #7691cc;
}
div.list-block-anim a:hover,
div.list-block-anim a:focus {
	background: #0589de;
	border-color: #027ac8;
}

div.list-block a:focus strong,
div.list-block a:focus p,
.list-block:hover strong,
.list-block:hover p,
div.list-block-anim a:focus strong,
div.list-block-anim a:focus p,
.list-block-anim:hover strong,
.list-block-anim:hover p {

	transform: scale(1.2);

  color: white;
}

.flip-container {
	perspective: 1000;
}
	
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front, .back {
	width: 259px;
	height: 148px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;

	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}






	



